<footer>
    <div class="gutter">
        <div class="footerColumns">
            <!-- #BeginLibraryItem "/home/library/footer.lbi" -->
            <div class="footercol1">
                <div id="footeruvaLogo"><a href="http://www.virginia.edu" target="_blank" class="icon-sprite-cportal">University of Virginia</a></div>
            </div>
            <!--end.footercol1-->
            <address class="footercol2">
                <ul>
                    <li class="deptTitle"><a href="https://www.fm.virginia.edu" target="_blank">Facilities Management</a></li>
                    <li>1450 Leake Drive</li>
                    <li>P.O. Box 400726</li>
                    <li>Charlottesville, VA 22904-4726</li>
                </ul>
            </address>
            <!--end.footercol2-->
            <div class="footercol3">
                <ul>
                    <li>
                        <div class="label">Phone</div>
                        <div class="labelContent">(434) 924-1777</div>
                    </li>
                    <li>
                        <div class="label">Email</div>
                        <div class="labelContent"><a href="mailto:fm-service-call@virginia.edu">fm-service-call@virginia.edu</a></div>
                    </li>
                </ul>
            </div>
            <!--end.footercol3-->
            <!-- #EndLibraryItem -->
        </div>
        <!-- end.footerColumns -->
        <div class="clear">&nbsp;</div>
        <p class="copyright">
            &copy;
            2026 By the Rector and Visitors of the University of Virginia
        </p>
    </div><!-- end.gutter -->
</footer>