<div class="uvabrand">
    <div class="gutter">
        <div id="uvaLogo">
            <a href="http://www.virginia.edu" target="_blank" class="icon-sprite-cportal">University of Virginia</a>
        </div>
    </div>
</div>

<header id="mastHead">
    <div id="mastHeadWrapper">
        <h1 class="deptHeader"><a href="https://www.fm.virginia.edu">Facilities Management</a></h1><h2 class="deptHeader"><a href="https://customerportal.fm.virginia.edu/home/index.html">Customer Portal</a></h2>
    </div>
</header>
