@inherits LayoutComponentBase

<div class="main">
    <Header />
    <MainNav />
    <main id="main">
        <div class="gutter main-content">
            @* .razor pages come here *@
            @Body
        </div>
    </main>
    <Footer />
</div>
