<div class="wrap-nav">
    <nav class="main-nav">
        <div>
            <button class="mobile-nav-toggle" aria-label="Menu" aria-expanded="false">
                <span class="mobile-nav-toggle-graphic">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 300">
                        <g data-name="Layer 2">
                            <g data-name="Layer 1">
                                <rect class="fill-blue-primary" width="320" height="65" />
                                <rect class="fill-blue-primary" y="117.5" width="320" height="65" />
                                <rect class="fill-blue-primary" y="235" width="320" height="65" />
                            </g>
                        </g>
                    </svg>
                </span>
            </button>
            <ul class="nav-list">
                <li><a href="https://customerportal.fm.virginia.edu/home/index.html" data-url="/home/">Home</a></li>
                <li class="nav-sub-list-toggle">
                    <a href="https://customerportal.fm.virginia.edu/home/index.html" class="nav-sub-list-link" data-url="customerrequest">Request service <span class="nav-toggle-chevron"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path d="M441.9 167.3l-19.8-19.8c-4.7-4.7-12.3-4.7-17 0L224 328.2 42.9 147.5c-4.7-4.7-12.3-4.7-17 0L6.1 167.3c-4.7 4.7-4.7 12.3 0 17l209.4 209.4c4.7 4.7 12.3 4.7 17 0l209.4-209.4c4.7-4.7 4.7-12.3 0-17z" />
                            </svg></span></a>
                    <ul class="nav-sub-list">
                        <li><a href="https://customerportal.fm.virginia.edu/Customerrequest/request/report" data-url="CustomerRequest/request/report">Report an issue</a></li>
                        <li><a href="https://customerportal.fm.virginia.edu/Surplus/request/contact" data-url="/Surplus/">Request Disposal/Request Surplus</a></li>
                        <li><a href="https://customerportal.fm.virginia.edu/keyrequest" data-url="/keys/">Keys/Electronic Access</a></li>
                        <li><a href="https://customerportal.fm.virginia.edu/customerrequest/request/signage">Signage</a></li>
                        <li><a href="https://customerportal.fm.virginia.edu/customerrequest/request/support">Event support/Moving</a></li>
                        <li><a href="https://customerportal.fm.virginia.edu/customerrequest/request/other">Other</a></li>
                    </ul>
                </li>
                <li><a href="https://customerportal.fm.virginia.edu/WOStatus" data-url="/WOStatus/">Work order search</a></li>
                <li><a href="https://customerportal.fm.virginia.edu/Surplus" data-url="/Surplus/">ReUSE Store</a></li>
                <li><a href="https://customerportal.fm.virginia.edu/buildingInformation" data-url="buildingInformation">Building information</a></li>
                <li><a href="https://customerportal.fm.virginia.edu/home/faqs.html" data-url="faqs">FAQs</a></li>
                <li><a href="https://customerportal.fm.virginia.edu/home/contactus.html" data-url="contactus">Contact us</a></li>
            </ul>
        </div>
    </nav>
</div>
